<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}AADL{% endblock %}</title>
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% block nav %}
                {{ include('inc/navbar.html.twig') }}
            {% endblock %}
        </nav>
        <div class="aadl-content-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
